# Node.js dependencies
node_modules/

# Testing
coverage/
.nyc_output/
*.log

# Environment
.env
.aws/
.npmrc

# IDE files
.idea/
.vscode/
*.sublime-*
*.swp
*.swm
*.swo
.DS_Store
Thumbs.db

# Temp files
*.tmp
*~
\#*\#

# Runtime data
pids
*.pid
*.seed
*.pid.lock
